
/*----Nav Bar Styles---*/
a, .search-btn {
    color: #e6e6e6;
    color: var(--light-green);
    cursor: pointer;
  }
  .search-btn {
    color: var(--light-green);
    background-color: #e6e6e6;
  }
  
  a:hover, .sub-btn:hover{
    color: var(--light-brown);
  }
  
  .menu-text {
    font-size: 32px;
  }
  
  li, .search-btn {
    font-size: 22px;
    padding-top: 5px;
  }